<h1>Call <%= formatted_phone(Rails.application.credentials.twilio![:phone_number]) %></h1>

<% if @calls.any? %>
  <% @calls.each do |call| %>
    <p>
      A customer from <%= caller_location(call) %> called from <%= formatted_phone(call.caller_number) %> called <%= distance_of_time_in_words(Time.now, call.created_at) %> ago.
      <!-- <%= call.sid %> -->
      <% if call.responses.any? %>
        <ul>
          <% call.responses.each do |response| %>
            <li>
              <% if response.question_handle == "favourite_number" %>
                Their favourite number is <%= response.digits.presence || "unknown" %>.
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </p>
  <% end %>
<% end %>
